/* Place CSS styles here */
body {
    margin: 0; 
    font-family: "SN Pro", sans-serif;
   
    background: linear-gradient(#ffeb99, #ffd24d);

    background-size: 150%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: #241c03; 
    text-align: center; 
}

body::before {
    content: "";                
    position: fixed;           
    top: 0;
    left: 0;
    width: 130%;
    height: 130%;

    background-image: url("../img/honeycomb.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0.24; 
    z-index: -1; 
}

header {
   
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem; 
}

.header-container {
    background-color: #fff6cc;  
    padding: 5px 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 8px rgba(22, 17, 4, 0.2);
}

.single-bees {
      background-color: #fff6cc;
      border-radius: 15px;
      padding: 20px;
      max-width: 300px;
      margin: 20px auto;
      box-shadow: 0 2px 8px rgba(22, 17, 4, 0.2);
    }

button {
      background: #ffc42f;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 10px;
    }

    button:hover {
      background: #ffa200;
    }