/* Place CSS styles here */
body {
    margin: 0; 
    font-family: "SN Pro", sans-serif;
   
    background: linear-gradient(#ffeb99, #ffd24d);

    background-size: 150%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: #241c03; 
    text-align: center; 
}

body::before {
    content: "";                
    position: fixed;           
    left: 600px; 
    top: 200px; 
    width: 100%;
    height: 100%;
    rotate: 90%; 

    background-image: url("../img/honeycomb.png");
    background-size: 800px;
    background-position: center; 
    background-repeat: no-repeat;

    opacity: 0.22; 
    z-index: -1; 
}

header {
   
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem; 
}

.header-container { 
    background-color: #fff6cc;  
    padding: 5px 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 8px rgba(22, 17, 4, 0.2);
}

#beePfp {
    width: 170px; 
    height: auto; 
    border-radius: 50%;       
    padding: 2px;              
    background-color: #ffc42f; 
}

.single-bees {
    background-color: #fff6cc;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0 2px 8px rgba(22, 17, 4, 0.2);
}

ul, ol {
    text-align: left;
    margin-top: 0;
    margin-left: 18px;
}

.lists {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.list-box {
    flex: 1;
}

.list-box h3 {
  margin-bottom: 4px;
}

.partner-box {
      margin-top: 10px;
}

.partner-box h3{
    margin-bottom: 4px; 
}

button {
    background: #ffc42f;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px; 
    margin-left: 20px; 
}

button:hover {
    background: #ffa200;
}

.popup {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);

  background: white;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);

  font-family: "SN Pro", sans-serif;
  font-size: 1.2rem;
  color: #241c03;

  z-index: 1000;
}

.hidden {
  display: none;
}

footer {
      margin-top: 20px;
      padding: 20px;
      font-size: 0.9rem;
}

.location-icon {
    width: 34px; 
    height: auto; 
    border: none; 
}